## Homework 3

Names of group are Deniz, Rachel, Olivia, Oksana, Milena, Amy, Usman, Anika

### Task 1

- Create a list with the first names of your breakout room group, and assign this to the variable `first_names`. Print the list.
- Print out the value of the second name in `first_names`. (Hint: use the bracket notation asa with strings.)
- Print the length of the list of names.
- Create a slice of the list containing the first two names and print this slice.

In [2]:
first_names=['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika']
print(first_names[0])
print(len(first_names))
print(first_names[:2])
print(first_names[1:3])

Deniz
8
['Deniz', 'Rachel']
['Rachel', 'Olivia']

### Task 2 - Appending and removing elements from a list

There are several methods that you can use with lists. The `.append()` method adds an item to a list, while the `.remove()` method removes an item from the list:

```py
fruits = ['apple','banana','orange']
fruits.append('mango')
# value of fruits is now: ['apple','banana','orange','mango']
fruits.remove('banana')
# value of fruits is now: ['apple','orange','mango']
```

- Using the list of your names (`first_names`), add one name and print the list.
- Using the list of your names (`first_names`), remove one name and print the list.

In [3]:
first_names.append("Felix")
print(first_names)

['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika', 'Felix']

In [5]:
first_names.remove("Amy")
print(first_names)

['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Usman', 'Anika', 'Felix']

### Task 3 - Dictionaries

- Create a dictionary called `person` with the keys `first_name` amd `last_name` and give them some values. Print out the dictionary.
- In the `person` dictionary, assign the `job` key to the value `programmer`, and print out the dictionary.
- Access and print out the value of the `first_name` key in the `person` dictionary.
- Print out the keys, values, and items in the `person` dictionary.

In [6]:
person= {"first_name" : "Neslihan", "last_name" : "Keskin"}
print(person)
person['job'] = 'programmer'
print(person)
print(person["first_name"])
print(list(person.keys()))
print(list(person.values()))
print(list(person.items()))

{'first_name': 'Neslihan', 'last_name': 'Keskin'}
{'first_name': 'Neslihan', 'last_name': 'Keskin', 'job': 'programmer'}
Neslihan
['first_name', 'last_name', 'job']
['Neslihan', 'Keskin', 'programmer']
[('first_name', 'Neslihan'), ('last_name', 'Keskin'), ('job', 'programmer')]


### Task 4 - Booleans

- Create a variable called `boolean_var` and set it to `False`.
- Print the value of the opposite of `boolean_var` (using `not`).

In [7]:
boolean_var=False
print(not boolean_var)

True

In [1]:
my_var=True
type(my_var)

bool

In [2]:
my_var_2=False
type(my_var_2)

bool

In [3]:
print(not my_var_2)

True

In [7]:
my_var_2 != my_var

True

In [8]:
my_var_2 == my_var

False

### Task 5 - Tuples
- Create a tuple called `first_names_tuple` with the same names from your list. Print the tuple. Validate the data_type.
- Print the first item of your tuple.
- Print the number of items in your tuple.
- Print the last item of your tuple.
- Use a range of indexes to print the second and third item in the tuple.
- If the name "Oksana" is on your tuple print "Yes, Oksana is in our group"
- Once a tuple is created, you cannot change its values. Tuples are unchangeable. But you can convert the tuple into a list, change the list, and convert the list back into a tuple. Change the first element of your tuple to "Nesli".
- Since tuples are unchangable, they dont have append() method but you can add an item to tuple by converting to list and converting back to a tuple. Convert the tuple into a list, add "Alex", and convert it back into a tuple.
- Create a new tuple with the value "Ali", and add that tuple to your `first_names_tuple`
- Print the `first_names_tuple`
- Create a tuple with the values "apple", "banana", "cherry", assign the value of the tuples to variable called a thier colors. Hint:Google it "Unpacking Tuple"

In [17]:
first_names_tuple=('Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika')
print(first_names_tuple[0])
print(len(first_names_tuple))
print(first_names_tuple[-1])
print(first_names_tuple[1:3])
if "Oksana" in first_names_tuple:
    print("Yes, Oksana is in our group")
my_list=list(first_names_tuple)
my_list[0]="Nesli"
first_names_tuple=tuple(my_list)
print(first_names_tuple)
my_list=list(first_names_tuple)
my_list.append("Alex")
first_names_tuple=tuple(my_list)
print(first_names_tuple)
new_tuple=('Ali',)
first_names_tuple+=new_tuple
print(first_names_tuple)
green,yellow,red=('apple','banana','grapes')
print(yellow)

Deniz
8
Anika
('Rachel', 'Olivia')
Yes, Oksana is in our group
('Nesli', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika')
('Nesli', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika', 'Alex')
('Nesli', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika', 'Alex', 'Ali')
banana

### Task 6 - Sets

- Create a set called `first_names_set` with the same names from your list. Print the set. Validate data_type of the set.
- If the name "Oksana" is on your set print "Yes, Oksana is in our group" 
- Use add method to add "Nesli" to the first_names_set
- Add the elements of the random_names to your set random_names=["Alex", "Alice" , "Ali"]
- Use remove method to remove Alice from your first_names_set
- - Print the `first_names_sets`

In [18]:
first_names_set={'Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika'}
print(type(first_names_set))
if "Oksana" in first_names_set:
    print("Yes, Oskana is in our group")
first_names_set.add("Nesli")
print(first_names_set)
random_names=["Alex", "Alice" , "Ali"]
first_names_set.update(random_names)
print(first_names_set)
first_names_set.remove("Alice")
print(first_names_set)

<class 'set'>
Yes, Oskana is in our group
{'Usman', 'Oksana', 'Rachel', 'Anika', 'Olivia', 'Deniz', 'Nesli', 'Amy', 'Milena'}
{'Usman', 'Oksana', 'Rachel', 'Anika', 'Olivia', 'Ali', 'Deniz', 'Alex', 'Nesli', 'Alice', 'Amy', 'Milena'}
{'Usman', 'Oksana', 'Rachel', 'Anika', 'Olivia', 'Ali', 'Deniz', 'Alex', 'Nesli', 'Amy', 'Milena'}

In [11]:
print("Congratulations!")

congratulations!